<style>
    footer {
        clear: both;
    }
</style>

<footer class="container-fluid border-top border-dark py-4 px-5">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <h5>Descarga nuestra app</h5>
                    <a href="https://play.google.com/store?gl=ES" target="_blank" class="btn btn-dark my-2">
                        <i class="fab fa-apple"></i> Google Play
                    </a>
                    <a href="https://www.apple.com/es/shop" target="_blank" class="btn btn-dark my-2">
                        <i class="fab fa-google-play"></i> App Store
                    </a>
            </ul>
        </div>
        <div class="col-sm-6 col-md-4">
            <h5>Nuestras redes</h5>
            <a href="https://www.instagram.com" target="_blank" class="fs-2 text-dark text-decoration-none">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com" target="_blank" class="fs-2 text-dark text-decoration-none">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.twitter.com" target="_blank" class="fs-2 text-dark text-decoration-none">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        <div class="d-none d-md-block col-md-4 text-center">
            <img class="w-25 img-fluid" src="{{ asset('img/skateboard.png') }}" alt="logo">
        </div>
    </div>
</footer>