// READY //
$(document).ready(function () {
    autocomplete();
    filtrarSpots();

    $('#popular button').click(function () {
        filtrarSpots()
    });
})

// FUNCIONES //
function autocomplete() {
    var provincias = JSON.parse('{{ provincias|json_encode|raw }}');

    var accentMap = {
        'á': 'a',
        'é': 'e',
        'í': 'i',
        'ó': 'o',
        'ú': 'u'
    };
    var normalize = function (term) {
        var ret = '';
        for (var i = 0; i < term.length; i++) {
            ret += accentMap[term.charAt(i)] || term.charAt(i);
        }
        return ret;
    };

    $('#buscar').autocomplete({
        source: function (request, response) {
            var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), 'i');
            response($.grep(provincias, function (value) {
                value = value.label || value.value || value;
                return matcher.test(value) || matcher.test(normalize(value));
            }));
        }
    });
}

function filtrarSpots() {
    let bestSpots = $('#popular .spots');
    let loading = $('#loading');
    let deporte = $('input[name="filtrarDeporte"]:checked').val();
    let orden = $('#orden option:selected').val();
    let coord, lat, lng, mapa;

    $.ajax({
        type: 'POST',
        url: '{{ path('filtrar_spots') }}',
        data: {'deporte': deporte, 'orden': orden},
        beforeSend: function () {
            loading.show();
        }
    }).done(function (spots) {
        $('#deporteSeleccionado').text('(' + deporte + ')');
        bestSpots.empty();
        loading.hide();
        spots.forEach(function (spot, index) {
            let url = '{{ path('spot_view', {'id': 'id'}) }}';
            url = url.replace('id', spot.id);
            let hr = (index !== Object.keys(spots).length - 1) ? '<hr class="bg-secondary">' : '';

            bestSpots.append(`
                <div class="row d-flex align-items-center">
                    <div class="col-md-8 py-2">
                        <h5>
                            <a class="text-decoration-none" href="${url}">
                                ${spot.nombre}
                            </a>
                        </h5>
                        <small>Publicado el ${spot.fecha}</small>
                        <p>En ${spot.provincia} - por ${spot.user}</p>
                            <span class="text-warning">${showValoracion(spot.notaMedia)}</span>
                            (${spot.numValoraciones})
                    </div>
                    <div class="col-md-4 mb-2">
                        <div id="mapid_${spot.id}"></div>
                    </div>
                    ${hr}
                </div>
            `);

            coord = spot.coord;
            lat = parseFloat(coord.split(',')[0]);
            lng = parseFloat(coord.split(',')[1]);

            mapa = L.map(`mapid_${spot.id}`, {
                zoomControl: false,
                dragging: false,
                doubleClickZoom: false,
                scrollWheelZoom: false
            }).setView([lat+0.0005, lng], 14);

            L.marker([lat, lng]).addTo(mapa);

            L.tileLayer(
                "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw",
                {
                    maxZoom: 18,
                    id: "mapbox/streets-v11",
                    tileSize: 512,
                    zoomOffset: -1
                }
            ).addTo(mapa);
        })
    });
}

function showValoracion(nota) {
    let valoracion = '';

    for (let i = 0; i <= 10; i++) {
        if (i <= nota) {
            if (i > 0) {
                if (i % 2 === 0) {
                    valoracion += '<i class="fa fa-star"></i>';
                } else if (i === nota) {
                    valoracion += '<i class="fa fa-star-half-alt"></i>';
                }
            }
        } else if (i % 2 !== 0) {
            valoracion += '<i class="far fa-star"></i>';
        }
    }

    return valoracion;
}