// READY //
$(document).ready(function () {
    autocomplete();
    filtrarSpots();

    $('#popular button').click(function () {
        filtrarSpots()
    });
})

// FUNCIONES //
function autocomplete() {
    var provincias = JSON.parse('{{ provincias|json_encode|raw }}');

    var accentMap = {
        'á': 'a',
        'é': 'e',
        'í': 'i',
        'ó': 'o',
        'ú': 'u'
    };
    var normalize = function (term) {
        var ret = '';
        for (var i = 0; i < term.length; i++) {
            ret += accentMap[term.charAt(i)] || term.charAt(i);
        }
        return ret;
    };

    $('#buscar').autocomplete({
        source: function (request, response) {
            var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), 'i');
            response($.grep(provincias, function (value) {
                value = value.label || value.value || value;
                return matcher.test(value) || matcher.test(normalize(value));
            }));
        }
    });
}

function filtrarSpots() {
    let bestSpots = $('#popular .spots');
    let loading = $('#loading');
    let deporte = $('input[name="filtrarDeporte"]:checked').val();
    let orden = $('#orden option:selected').val();
    console.log(orden);

    $.ajax({
        type: 'POST',
        url: '{{ path('filtrar_spots') }}',
        data: {'deporte': deporte, 'orden': orden},
        beforeSend: function () {
            loading.show();
        }
    }).done(function (spots) {
        $('#deporteSeleccionado').text('(' + deporte + ')');
        bestSpots.empty();
        loading.hide();
        spots.forEach(function (spot, index) {
            let url = '{{ path('spot_view', {'id': 'id'}) }}';
            url = url.replace('id', spot.id);
            let hr = index !== spot.length -1 ? '<hr class="bg-dark">' : '';
            bestSpots.append(`
                <div class="row">
                    <div class="col-lg-8">
                        <h5>
                            <a class="text-decoration-none" href="${url}">
                                ${spot.nombre}
                            </a>
                        </h5>
                        <small>Publicado el ${spot.fecha}</small>
                        <p>En ${spot.provincia} - por ${spot.user}</p>
                    </div>
                    <div class="col-lg-4 text-end">
                        <h5>
                            <span class="text-warning">${showValoracion(spot.notaMedia)}</span>
                            (${spot.numValoraciones})
                        </h5>
                    </div>
                    ${hr}
                </div>
            `);
        })
    });
}

function showValoracion(nota) {
    let valoracion = '';

    for (let i = 0; i <= 10; i++) {
        if (i <= nota) {
            if (i > 0) {
                if (i % 2 === 0) {
                    valoracion += '<i class="fa fa-star"></i>';
                } else if (i === nota) {
                    valoracion += '<i class="fa fa-star-half-alt"></i>';
                }
            }
        } else if (i % 2 !== 0) {
            valoracion += '<i class="far fa-star"></i>';
        }
    }

    return valoracion;
}