header {
    background: black;
}

header .carousel-item {
    background-color: rgba(0, 0, 0, 0.5);
}

header img {
    max-height: 400px;
    object-fit: cover;
    object-position: center;

    transition: all .15s;
    opacity: 0.75;
}

header img:hover {
    opacity: 1;
}

header button:hover {
    background: rgba(0, 0, 0, 0.1);
}