{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        #mapid {
            height: 450px;
            z-index: 1;
        }
    </style>
{% endblock %}

{% block title %}Mapa{% endblock %}

{% block body %}
    <div class="container my-4">
        <p class="mb-2">
            <a class="text-decoration-none fw-bold" href="javascript:history.back()">
                <i class="fas fa-arrow-left"></i>
                Volver
            </a>
        </p>
        <h2>Mapa de {{ deporte.nombre | capitalize }}</h2>

        <div id="mapid" class="border rounded"></div>
    </div>
{% endblock %}

{% block js %}
    {% include 'spot/mapa.js.twig' %}
{% endblock %}


