#mapid {
    min-height: 350px;
    height: 100%;
    z-index: 1;
}

#rutas a {
    color: #212529;
    text-decoration: none;
}

#rutas a:hover {
    text-decoration: underline;
}

h6 {
    margin-top: 20px;
}
