{% extends 'base.html.twig' %}

{% block title %}Edit Deporte{% endblock %}

{% block body %}
    <div class="container my-4">
        <p class="mb-2">
            <a class="text-decoration-none fw-bold" href="javascript:history.back()">
                <i class="fas fa-arrow-left"></i>
                Volver
            </a>
        </p>

        <h4>Editar deporte</h4>

        <div class="my-2">
            {{ include('deporte/_form.html.twig', {'button_label': 'Actualizar'}) }}
        </div>

        <div class="my-2">
            {{ include('deporte/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
